<p>
  <b>If you cannot make it, please let us know by clicking "Cancel" on your dashboard, so another hacker can take your place.</b>
</p>
<p style="text-align: center">
<a href="<%- hackathonURL %>">Manage application</a>
</p>