<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <link type="text/css" href="/css/dashboard.css" rel="stylesheet" />
  <title>Applications | Dashboard</title>
</head>

<body>
  <div class="wrapper">
    <% var hasApplied = applicationStatus !== 0; %>
    <%- include('../partials/navbar', { hasApplied: hasApplied }); %>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <% if (applicationStatus >= 2 && applicationStatus <= 4 ) { %>
          <div class="modal fade" id="cancelApplicationModelStrong" tabindex="-1" role="dialog" aria-labelledby="cancelApplicationModelLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="cancelApplicationModelLabel">Cancel Application</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to cancel your application? <strong>You won't be able to re-apply!</strong>
                </div>
                <div class="modal-footer">
                  <a href="/apply/cancel" class="btn btn-danger">Yes, cancel my application</a>
                  <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
          <% } %>

          <% if (new Date().getTime() >= new Date(locals.settings.applicationsOpen).getTime()) { %>
            <% include ../partials/dashboardOpen.ejs %>
          <% } else { %>
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="card time-remaining-card">
                  <p class="time-remaining-text text-center">
                  Time until applications open:
                  <strong id="secondsLeftDeadline">
                  0 days, 0h 0m 0s
                  </strong>
                  <script>
                    var applicationsOpenDate = <%- new Date(locals.settings.applicationsOpen).getTime() %>;
                    var timeUntilOpen = Math.floor((applicationsOpenDate - new Date().getTime()) / 1000);
                  </script>
                  </p>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
      <script src="/js/timer.js"></script>
    </div>
  </div>
</body>

</html>