<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head.ejs %>
  <link type="text/css" href="/css/dashboard.css" rel="stylesheet" />
  <title>Applications | Dashboard</title>
</head>

<body>
  <div class="wrapper">
    <% var hasApplied = applicationStatus !== 0; %>
    <%- include('../partials/navbar', { currentPage: "dashboard", hasApplied: hasApplied }); %>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <% if ((applicationStatus >= 2 && applicationStatus <= 4) || !applicationsOpen) { %>
          <div class="modal fade" id="cancelApplicationModelStrong" tabindex="-1" role="dialog" aria-labelledby="cancelApplicationModelLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="cancelApplicationModelLabel">Cancel Application</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to cancel your application? <strong>You won't be able to re-apply!</strong>
                </div>
                <div class="modal-footer">
                  <a href="/apply/cancel" class="btn btn-danger">Yes, cancel my application</a>
                  <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
          <% } %>

          <% if (applicationsOpen) { %>
          <% include ../partials/dashboardOpen.ejs %>
          <% } else { %>
          <% include ../partials/dashboardClosed.ejs %>
          <% } %>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
      <script src="/js/timer.js"></script>
      <script src="/js/dashboard.js"></script>
    </div>
  </div>
</body>

</html>