<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head.ejs %>
  <link type="text/css" href="/css/review.css" rel="stylesheet" />
  <title>Applications | Review</title>
</head>

<body>
  <div class="wrapper">
    <%- include('../../partials/navbar', { currentPage: "review-application" }) %>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <h1 style="display: none;">Review Applications</h1>

          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h2 class="card-title text-center">Application</h2>
                </div>
                <div id="application-data-container" class="card-body">
                  <!-- Application is injected here -->
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h2 class="card-title text-center">Score</h2>
                </div>
                <div class="card-body">
                  <form id="reviewForm" action="javascript:;" method="post">
                    <label for="enthusiasm">Enthusiasm (between 1 and 5):</label>
                    <input type="number" name="enthusiasm" min="1" max="5" value="0">

                    <label for="score">Score (between 1 and 5):</label>
                    <input type="number" name="score" min="1" max="5" value="0">

                    <input type="submit" name="submit" id="submit-review-btn" class="btn btn-success submit-btn" value="Submit Review"/>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <% include ../../partials/footer.ejs %>
  <script src="/js/review/review.js"></script>
  <script>
    // Enable the tooltips
    $('[data-toggle="tooltip"]').tooltip();
  </script>
</body>

</html>