<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/head.ejs %>
  <link type="text/css" href="/css/review.css" rel="stylesheet" />
  <title>Applications | Review</title>
</head>

<body>
  <div class="wrapper">
    <%- include('../../partials/navbar', { components, currentPage: "review-application" }); %>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <h1 style="display: none;">Review Applications</h1>

          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <small id="review-count-text" class="card-title text-center"></small>
                  <h2 class="card-title text-center">Application</h2>
                </div>
                <div id="application-data-container" class="card-body">
                  <!-- Application is injected here, see review.js -->
                </div>
              </div>
            </div>

            <div id="reviewCard" class="col-md-4">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h2 class="card-title text-center">Score</h2>
                </div>
                <div class="card-body">
                  <form id="reviewForm" action="javascript:;" method="post">
                    <input id="applicationIDInput" class="input-hidden" type="text" name="id" value="">
                    <!-- Review form is injected here -->
                    <div class="form-group">
                      <input class="form-control" type="text" name="id" value="">
                    </div>
                    <input type="submit" name="submit" id="submit-review-btn" class="btn btn-success submit-btn" value="Submit Review"/>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <% include ../../partials/footer.ejs %>
  <script src="/js/review/review.js"></script>
  <script>
    // Enable the tooltips
    $('[data-toggle="tooltip"]').tooltip();
  </script>
</body>

</html>