.applicant-total {
  font-size: 1em;
}

.breakdown-scroll {
  overflow: auto;
  max-height: 18vh;
}

.applicants-scroll {
  overflow: auto;
}

.search-icon {
  padding-top: 9px;
  padding-right: 5px;
}

.applicant-status {
  font-size: 16px;
}

.applicant-status.check-valid {
  color: green;
}

.applicant-status.check-invalid {
  color: red;
}

text.ct-label {
  color: black !important;
  fill: black !important;
}

span.ct-label.ct-horizontal,span.ct-vertical {
  color: white !important;
}