.submit-btn {
  display: block;
  margin: 0 auto;
}

.input-hidden {
  display: none;
}

#review-count-text {
  position: absolute;
  left: 10px;
  top: 5px;
}

.card .card-body + .card-footer,
.card .card-footer {
  border-top: 1px solid #eee;
}
