<link rel="stylesheet" href="/css/navbar.css">
<div class="sidebar" data-color="azure" data-background-color="black" data-image="/img/sidebar.jpg">
  <div class="logo">
    <a href="http://greatunihack.com" class="simple-text logo-normal">
      Applications
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/apply">
          <i class="material-icons">person</i>
          <p>Application</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-bar">
  <div class="container-fluid">
    <div class="navbar-wrapper">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
      aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-bar">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/user/logout">
            <i class="fas fa-sign-out-alt fa-3x"></i>
            <p class="d-lg-none d-md-block">
              Logout
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->