<link rel="stylesheet" href="/css/navbar.css">
<div class="sidebar" data-color="azure" data-background-color="black" data-image="/img/sidebar.jpg">
  <div class="logo">
    <a href="http://studenthack.com" class="simple-text logo-normal">
      Applications
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <% if (locals._locals.authLevel == 3) { %>
      <li id="admin-overview" class="nav-item">
        <a class="nav-link" href="/admin/overview">
          <i class="material-icons">lock</i>
          <p>Admin | Overview</p>
        </a>
      </li>
      <% } %>
      <% if (locals._locals.authLevel >= 2) { %>
      <li id="admin-manage" class="nav-item">
        <a class="nav-link" href="/admin/manage">
          <i class="material-icons">lock</i>
          <p>Admin | Manage</p>
        </a>
      </li>
      <% } %>
      <li id="dashboard" class="nav-item">
        <a class="nav-link" href="/">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <% if (locals.hasOwnProperty("hasApplied") && hasApplied === false) { %>
      <li id="apply" class="nav-item">
        <a class="nav-link" href="/apply">
          <i class="material-icons">person</i>
          <p>Application</p>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
</div>
<script>
  var currentPage = "<%- locals.currentPage || null %>";
  if (document.getElementById(currentPage) !== null) {
    document.getElementById(currentPage).classList.add("active");
  }
</script>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-bar">
  <div class="container-fluid">
    <div class="navbar-wrapper">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
      aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-bar">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <i class="fas fa-sign-out-alt fa-3x"></i>
            <p class="d-lg-none d-md-block">
              Logout
            </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->