<% include ./partials/header.ejs %>

<p>
    Hey <%= applicant.name %>,
</p>
<p>We’re so excited to meet you at GreatUniHack 2019! Buckle up, because there are only a couple of days left before a weekend full of fun!</p>
<p>
Here is all you need to know before the day!
</p>
<p><b>Venue</b></p>
<p>
The event will take place at <a href="https://goo.gl/maps/xeq1nAiSipAw6YSC7" target="_blank" rel="noopener noreferrer">Manchester Metropolitan University Business School, All Saints Campus, Manchester, M15 6BH</a>. Make sure you are on time for when registration opens at <b>9:30 am</b>.
</p>
<p><b>Schedule</b></p>
<p>You can find the schedule for the day <a href="http://bit.ly/2Kgs2p0" target="_blank" rel="noopener noreferrer">here</a> with detailed information about workshops and events. Check out the <a href="https://hub.greatunihack.com" target="_blank" rel="noopener noreferrer">hub</a> which will become accessible <b>on the day</b> for all important information - schedule, emergency contacts, hardware library requesting, and others.</p>

<p><b>What should I bring?</b></p>
<p>Here’s a good start for your to-bring list during the hackathon:</p>
<ul>
    <li><b>Student ID</b></li>
    <li><b>Personal ID</b></li>
    <li>Laptop, chargers, cables</li>
    <li>Sleeping bag/blankets</li>
    <li>Personal hygiene items</li>
</ul>

<p><b>Communication</b></p>
<p>Please use <a href="https://join.slack.com/t/guh2019/shared_invite/enQtODEwOTExMDcyMzg4LTU1MDlmMDMzYTU3NTJiODE4MWFkZDlkYWUxMzM1OTYyNjYwMmZjNjA3NmE0NGMzZjhiYjI0ZjRlODIzOTY1ZjA" target="_blank" rel="noopener noreferrer">this link</a> to join our Slack channel to be up to date with important announcements during the event. Make sure you also follow us on <a href="https://www.facebook.com/GreatUniHack/" target="_blank" rel="noopener noreferrer">Facebook</a>, <a href="https://www.instagram.com/unics_uom/" target="_blank" rel="noopener noreferrer">Instagram</a> and <a href="https://twitter.com/GreatUniHack" target="_blank" rel="noopener noreferrer">Twitter</a> and don’t forget to use the hashtags <b>#guh2019</b> and <b>#greatunihack2019</b>, we would love to see how much fun you had!</p>

<p><b>Hardware</b></p>
<p>For those of you hardware-enthusiasts, we’ve prepared a hardware library with all sorts of tools! We’ll have plenty of devices and gadgets, such as Arduino boards, Raspberry Pis, and others. During the hackathon, you can request all you need online at the hub (please note that the <a href="https://hub.greatunihack.com" target="_blank" rel="noopener noreferrer">hub</a> will be live <b>on the day of the event<b>).<p>

<p><b>Cancellation</b></p>
<p>Sometimes things come up and we understand this, so in case you can’t make it to the event anymore, please cancel your attendance on the platform, so that someone else can grab the spot. We hope to see you at StudentHack VIII and next GreatUniHack!</p>

<p>Any questions? Feel free to reach out to us on <a href="https://www.facebook.com/GreatUniHack/" target="_blank" rel="noopener noreferrer">Facebook</a>, <a href="https://www.instagram.com/unics_uom/" target="_blank" rel="noopener noreferrer">Instagram</a> and <a href="https://twitter.com/GreatUniHack" target="_blank" rel="noopener noreferrer">Twitter</a>. We also put together a <a href="" target="_blank" rel="noopener noreferrer">handbook</a> with more details should you need them.</p>

<p>See you soon!</p>

<p><%= settings.fullName %> Team</p>

<% include ./partials/footer.ejs %>