<% include ./partials/header.ejs %>

<p>
  Hey <%= applicant.name %>,
</p>

<p>Thank you so much for being part of GreatUniHack 2019 and turning it into an un-bee-lievable experience! We hope you had lots of fun, learned something new, and enjoyed yourself.</p>
<p>

</p>
<p>
  We would be happy to know what you think about the hackathon by filling out <a href="https://forms.gle/krh4xhgJAYzr5PCr6" target="_blank" rel="noopener noreferrer">this form</a>, so we can improve future
  events.
</p>

<p>See you next at StudentHack!</p>

<p>The <%= settings.fullName %> team</p>

<% include ./partials/footer.ejs %>