<% include ./partials/header.ejs %>

<p>
    Hey <%= applicant.name %>, congratulations!
</p>
<p>We are so excited to inform you that your application has been accepted! Remember to join us for the event on the 28<sup>th</sup> November - we'll send you a reminder closer to the time with some details about how to join the Discord!</p>
<p>

</p>
<p>
    Confirm your spot for <%= settings.fullName %> by clicking on the "Confirm" link below. <b>Please confirm your spot within 5 days of receiving this email or else we will give your spot to another hacker on the waitlist.</b>
</p>
<%- include('partials/emailButton', { emailButtonText: 'Confirm', emailButtonLink: confirmLink }); %>

<% include ./partials/cancel.ejs %>
<p>More information will follow closer to the event. Until then, don’t forget to check our <a href="https://www.facebook.com/GreatUniHack/" target="_blank" rel="noopener noreferrer">Facebook</a>, <a href="https://twitter.com/GreatUniHack" target="_blank" rel="noopener noreferrer">Twitter</a>, and <a href="https://www.instagram.com/unics_uom/" target="_blank" rel="noopener noreferrer">Instagram</a> for updates!</p>

<p>We look forward to seeing you on the 16<sup>th</sup> of November!</p>
<p>The <%= settings.shortName %> team</p>

<% include ./partials/footer.ejs %>