<% include ./partials/header.ejs %>

<p>
  Hi <%= applicant.name %>,
</p>
<p>Thank you for applying for <%= settings.fullName %>!</p>
<p>

</p>
<p>
  Although we were impressed with your application, we had an overwhelming amount of applications and unfortunately we are not able to give you a spot this year. Selection process was highly competitive with more than 300 applications and we had to turn down a lot of skilled candidates.
</p>
<p>
  We appreciate your interest in GreatUniHack and we would love to see your application again for the upcoming StudentHack and GreatUniHack 2020!
</p>
<p>
  All the best,
</p>
<p>The <%= settings.shortName %> team</p>

<% include ./partials/footer.ejs %>